<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- mybatis 查询的字段值为null的话，key都不会返回 -->
    <settings>
        <setting name="callSettersOnNulls" value="true" />
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!-- 别名 -->


</configuration>